.cproject
.project
**/*.log
**/*.obj
**/*.o
**/*.d
**/*.dirstamp
**/*.html
**/*.tresoslog
**/*.tree
**/*.~lock
**/*288.tree
**/*7z
**/*7zip
**/*cproject
*.dcusr
**/*.page_database
**/*.resources
**/*.stcfg
RteCache/